/** banner slider*/
#BannerSlider{
    position: relative;
    overflow: hidden;
}

#BannerSlider .banner_slider--image{
    display: block;
}
#BannerSlider .banner_slider--image img{
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}
.mobile_view{
    display: none;
}
.swiper-button-prev:after, 
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-next:after{
    font-size: 20px !important;
    font-weight: bold;
    color: #fff;
}
#BannerSlider .swiper-button-prev{
    left: 145px;
}
#BannerSlider .swiper-button-next{
    right: 145px;
}
#BannerSlider .swiper-button:empty{
    display: block;
}


/* Responsive */
@media only screen and (max-width: 769px) {
    #BannerSlider .swiper-button-prev{
        left: 0;
    }
    #BannerSlider .swiper-button-next{
        right: 0;
    }
    #BannerSlider .banner_slider--image img{
        max-height: 500px;
    }
}