.card__item_pd{
    padding-bottom: 10px;
}
.product__card{
    width: 22%;
}
.product__title{
    display: block;
    padding-bottom: 15px;
}
#FeaturedProduct{
    margin-bottom: 50px;
}
#FeaturedProduct .procuct__card-img img{
    width: 100%;
}
.section__title{
    font-family: "museo_sans700";
    font-size: 35px;
}
.swatches .swatch__item{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
}
.swatches .swatch__item img{
    width: 100%;
    border-radius: 50%;
}
.spr-badge-starrating .spr-icon {
    color: #BF6385;
}

/* care innstruction */
.care__instructions .instruction__item {
    width: 19%;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 15px;
}
.care__instructions .instruction__item img{
    margin: auto;
    width: 100%;
}


/* responsive */
@media only screen and (max-width: 769px) {
    .product__card{
        width: 49%;
    }
    .care__instructions .instruction__item{
        width: 32%;
    }
}