.flex__container{
    display: flex;
    flex-wrap: nowrap;
}
.gap-2{
    gap: 2%;
}
li{
    list-style-type: none;
}
ul, li{
    margin: 0;
    padding: 0;
}
.card__item_pd{
    padding-bottom: 10px;
}
.product__card{
    width: 22%;
}
.product__title{
    display: block;
    padding-bottom: 15px;
}
#FeaturedProduct{
    margin-bottom: 50px;
}
#FeaturedProduct .procuct__card-img img{
    width: 100%;
}
.swatches .swatch__item{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
}
.swatches .swatch__item img{
    width: 100%;
    border-radius: 50%;
}

/* care innstruction */
.care__instructions .instruction__item{
    width: 70px;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
}
.care__instructions .instruction__item img{
    margin: auto;
    width: 100%;
}


/* responsive */
@media only screen and (max-width: 769px) {
    .product__card{
        width: 49%;
    }
}